
@{
    ViewBag.Title = "APIData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>API Data</h2>

<div>@(ViewBag.ApiResponse ?? "no data found")</div>

<h2>Begin Google Response:</h2>

<div>@(ViewBag.GoogleResponse ?? "no data found")</div>